*{
    font-family: Arial, Helvetica, sans-serif;
}


.title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
}

.board-container{
    margin: auto;
    width: 30rem;
    padding: 3rem;
    border: 3px solid black;
    position: relative;
}

.board{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.square{
    display: flex;
    width: 10rem;
    margin: 0;
    height: 10rem;
    border: 2px dashed black;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.square:nth-child(3n){
    border-right: none;
}

.square:nth-child(3n+1){
    border-left: none;
}

.square:nth-child(1), .square:nth-child(2), .square:nth-child(3){
     border-top: none;
}

.square:nth-child(7), .square:nth-child(8), .square:nth-child(9){
     border-bottom: none;
}

.square:hover{
    background-color: #dddddd;
}

.player{
    font-size: 3rem;
    text-transform: uppercase;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.winner{
    /* font-size: 4rem; */
    text-align: center;
    background-color: white;
    border: 3px solid black;
    filter: drop-shadow(1rem 1rem 1.5rem rgba(0, 0, 0, .1));
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 50rem;
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    padding: 3rem;
}

.winner h2{
    font-size: 4rem;
    margin: 0 0 3rem 0;
}

.btn{
    font-size: 2rem;
    border: 3px solid black;
    width: 15rem;
    height: 4rem;
    line-height: 4rem;
    cursor: pointer;
    margin: auto;
}

.btn:hover{
    background-color: #dddddd;
}